{% extends 'base.html' %}



{% block title %}
{{ title }}
{% endblock title %}


{% block poster %}
{% endblock poster %}



{% block main %}

<div class="container mb-4">
    <h3 class="text-center">Рассылка на почты</h3>
    <form action="{% url 'send_mail' %}" method="post">
        {% csrf_token %}
        <textarea class="form-control" name="text" id="" cols="30" rows="10" placeholder="Введите текст сообщения"></textarea>
        <button class="btn btn-success rounded" type="submit">Отправить</button>
    </form>

</div>


{% endblock main %}



